.header{
	top: 0;
	height: fit-content;
	width: 100%;
	position: absolute;
	margin-left: 320px;	
	border-bottom: 1px solid #A4ACAD;
}
.header-sity{
	position: absolute;
	font-size: 25px;
}

.header-phone-title{
	opacity: 1;
	margin: 0 0 0 10px;
	font-size: 18px;
	overflow: auto;
	color: black;
}
.header-phone-hours *{
	font-size: 14px;
	margin-bottom: 0;
}
.header-phone-numbers{
	margin-left: 20px;
	font-size: 14px;
	color: #FF9846;
}
.header-contact{
	padding-right: 10px;
	width: fit-content;
	border-right:solid #A4ACAD 1px;
}
