.sidebarWrapper {
    height: 100%;
    width: 260px;
    position: absolute;
    z-index: 1;
    background-color: white; 
    overflow-x: hidden; 
    padding-top: -16px;
}

.sidebar{
  display: flex;
  flex-wrap:wrap;
  align-items: left;
  padding: 20px 40px;
  justify-content: center;
  flex-direction: column;
  
}
.sidebar-icon{
    width: 30px;
    height: 30px;
}

.sidebar-item {
    padding-bottom: 30px;
    font-size: 24px;
    text-decoration: none;
    display: inline-flex;
    padding: 0 20px 0;
    margin-bottom: 15px;
}

.sidebar-item * {
    font-size: 24px;
    color: black;
    text-decoration: none;
    margin-right: 20px;
}

.sidebar-item *:hover {
    color: #FF9846;
}

#stick{
    margin-top: 46px;
    margin-bottom: 30px;
    width: 180px;
    height: 0px;
    border: 0.5px solid #A4ACAD;
    opacity: 0.5;
}
