@import './reset';
@import './variables';
@import './components/all';
*{
    font-family: Dodo, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body{
    background-color: #F2F2F2;
}
#root{
    width: 100%;
    height: 100%;
}